.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    width: 95vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
}